* {
    margin: 0;
    padding: 0;
}

#attribution {
    font-size: 11px; text-align: center;
}

#attribution a {
    color: hsl(228, 45%, 44%);
}

div {
    /* background-color: aqua; */
}

.navbar {
    display: flex;
}

.left {
    width: 50%;
    display: flex;
    background-color: bisque;
}

.navbar h1 {
    width: 15%;
    /* background-color: aqua; */
    text-align: center;
    font-size: 20px;
}

table {
    margin-left: auto;
}

table > tr {
    
}